  <div>
    <h2>Content</h2>
  </div>
  <div>
    <nz-table>
      <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos ">
        <td nzSpan="20">{{todo.id}}</td>
        <td nzSpan="20">{{todo.title}}</td>
        <td nzSpan="20">{{todo.content}}</td>
      </tr>
      <!--<button (click)="createItem()"  >Create item</button>
      <button (click)="deleteItem()"  >Delete item</button>-->
      </tbody>
    </nz-table>

    <!--<form [formGroup]="todoForm" (ngSubmit)="createItem(todoForm.value)">

      <div>
        <label for="id">
          id
        </label>
        <input id="id" type="text" formControlName="id">
      </div>

      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div>
        <label for="content">
          Content
        </label>
        <input id="content" type="text" formControlName="content">
      </div>

      <button class="button" type="submit">Create item</button>

    </form>-->

  </div>

