<nz-layout>
  <nz-header>
<!--    <img  src="src/assets/afs-logo.png"/>-->
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">

      <li [routerLink]="['/home']" nz-menu-item nzSelected>Home</li>
      <li [routerLink]="['home/todos']" nz-menu-item>Drivers</li>
      <li [routerLink]="['home/documents']" nz-menu-item>Documents</li>
    </ul>
  </nz-header>
  <nz-layout>

    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li [routerLink]="['/home']" nz-submenu nzOpen nzIcon="user" nzTitle="Home">
          <ul>
            <li [routerLink]="['home/todos']" nz-menu-item nzSelected>Drivers</li>
            <li [routerLink]="['home/documents']" nz-menu-item>Documents</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

